.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
build
data/*
/data/*
/data/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr